<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Reminders!</h1>
    <form action="/edit" method="POST">
      <input type="text" name="name" id="" value="<%=todo.name%>" />
      <input type="text" name="id" value="<%=todo._id%>" hidden />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
